<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Donations</title>
  <link rel="stylesheet" href="css/alldonations.css">
</head>
<body>
  <h1 class="heading">All Donations</h1>
  <div class="button-container">
    <div class="container">
      <h3>Please select an option to donate</h3>
      <button class="btn kidney-btn">
        <a href="/donations/kidney" style="text-decoration: none; color: #fff;">Kidney</a>
      </button>
      <button class="btn skin-btn">
        <a href="/donations/skin" style="text-decoration: none; color: #fff;">Skin</a>
      </button>
      <button class="btn bone-marrow-btn">
        <a href="/donations/boneMarrow" style="text-decoration: none; color: #fff;">Bone Marrow</a>
      </button>
      <button class="btn blood-btn">
        <a href="/donations/blood" style="text-decoration: none; color: #fff;">Blood</a>
      </button>
    </div>
  </div>
  <a href="/firstPage" class="home-button">Home</a>
</body>
</html>
