<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/contact.css">
  <title>Contact Us</title>
</head>
<body>
  <div class="contact-page">
    <div class="contact-info">
      <h1>Contact Us</h1>
      <!-- Font Awesome Telephone Icon as Logo -->
      <i class="fas fa-thumbs-up" style="font-size: 100px; color: rgb(0, 35,122); margin-bottom: 20px;"></i>
      <div class="contact-options">
        <div class="option">
          <i class="fas fa-phone"></i>
          <p>Phone: +3560 8990</p>
        </div>
        <div class="option">
          <i class="fas fa-envelope"></i>
          <p>Email: lifelink143@gmail.com</p>
        </div>
        <div class="option">
          <i class="fas fa-globe"></i>
          <p>Website:LifeLink</p>
        </div>
      </div>
    </div>
    <a href="/home" class="home-button">Home</a>
  </div>
</body>
</html>