<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>  <div class ="new"> 
  <nav class="new-navbar">
    <div class="logo">
      <img src="images/logo.jpg" alt="logo" height="40px" width="50px">
    </div>
    <ul>
      <li><a href="/signup">Register</a></li>
      <li><a href="/login">
        Login
      </a></li>
      <!-- <li><a href="requestform.html">C</a></li>
      <li><a href="#">D</a></li> -->
    </ul>
 
  </nav>
  
     
         
  
       
        </div>
        </div>
    </nav>
  </header>
  <main>
    <div class="banner">
      
      <div class="background-image"><button class="btn">
        <a href="/about"style="text-decoration: none; color: #fff";>About Us</a>
    
        </nav>
      </button>
        <button class="btn"><a href="/contact"style="text-decoration: none; color: #fff";>Contact us</a>
         </div><div class="grey">
         <h4 id="h">cdjviodvj</h4> <div class="image">
          <img src="images/kidneyHome.jpg" alt="Kidney Image" height="80px" width="100px" style="position: relative; left: -30px;">
          <div class="box">
            <div class="lock"><h3>"Connecting donors and &nbsp;recipents effortlessly"</h3>
           website where an donor can easily find the recipents to donate the tissue,also for the recipent to find the donor for the needs easily.</div>

         </div>
   
</div>  
<h2 id="jack">vmdiovrnebo</h2>
<div class="second">
 
  <div id="box1"><img src="images/process.jpg" alt height="250px" width="250px" style="float: right;">
  Tissue donation is the process of donating human tissue, such as skin, bone, cartilage, tendons, ligaments, and corneas, to help patients in need. These donated tissues can be used to repair or replace damaged or diseased tissues in the recipient's body.
<br>
<b><i>Types of Tissue Donation:</i></b><br>

<b>1. Skin donation:</b> Donated skin can be used to treat burn victims, reconstruct damaged skin, and cover wounds.<br>
<b>2. Bone donation:</b> Donated bone can be used to repair or replace damaged bone in orthopedic surgeries, such as joint replacements or bone grafts.
 <br>
 <b>3.Kidney transplantation:</b> Donating a kidney to replace a diseased or damaged kidney in a recipient.<br>
<b> 4.blood donation:</b> Donating whole blood, which is then separated into its components (red blood cells, plasma, and platelets).</div>
</div> 
      
    
    </div>
   
    <div class="items"></div>
  </main>
  <footer class="footer">
    <div class="footer-content">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Get in Touch with us</u></h3>
       <div class="mail"> <p>Email: <a href="mailto:info@example.com">lifelink143@yahoo.com</a></p></div>
      
    </div>
    <div class="footer-social">
        <h3>LifeLink..."where kindness meet compassion "</h3>
         
         <h4>Disclaimer!</h4>
         <h6><p>This platform is intended to facilitate tissue donation information. Misuse or misinterpretation of the information provided for commercial or unethical <br>purposes related to tissue donation is strictly prohibited.</p></h6>
    </div>
    </div>
    <div class="footer-copyright">
        <p>&copy
          </footer>
</body>
</html>